@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 15;
    padding: 15;
    }

    body{
    height: 100vh;
    box-sizing: border-box;
    background-color:rgb(223, 233, 231);
    color:#0A3871;
}

.titulo-destaque { 
    color: #0A3871;
}

.apresentacao{ 
    margin: 10% 0%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:200px
}

.apresentacao_conteudo_titulo {
    font-size: 40px;
    font-family: "Inter", sans-serif;
   }

.apresentacao_conteudo_texto {
    font-size: 12px
}

.text-area {
    width: 600px
}

.mensagem{
    width: 600px
}
.apresentacao_botoes{
    margin: 10% 0%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.botoes{ 
    background-color:blueviolet;
    width: 200px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 200;
    padding: 21.5px 0;
    text-decoration: none;
    color:black
}